# Binaries and Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Local Configs
config.json
*.env
auth_tokens.txt
*.yaml

# Go Workspace local overrides
go.work.sum
go.work

# Database files and logs
*.db 
*.db-journal
*.log 
*.zip
