{{ define "base" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel="stylesheet" href="/public/css/assets.css">
        <link rel="icon" type="image/png" href="/public/img/ico_{{ .BaseData.Theme }}.png" />
        <title>Watchtower EDR</title>
    </head>
    <body class="{{ .BaseData.Theme }}">
        <div class="navigation-container">
            <aside class="menu" style="--sidebar-logo: url('/public/img/logo_{{ .BaseData.Theme }}.png');">
                <div class="sidebar-header">
                    <h2>Watchtower EDR</h2>
                </div>
                
                <nav>
                    <span class="nav-title">Menu</span>
                    
                    <a href="/" class="{{ if eq $.BaseData.CurrentPath "/" }}active{{ end }}">Dashboard</a>
                    
                    <a href="/agents" class="{{ if eq $.BaseData.CurrentPath "/agents" }}active{{ end }}">Agents</a>
                    
                    <a href="/software" class="{{ if eq $.BaseData.CurrentPath "/software" }}active{{ end }}">Software Inventory</a>

                    <a href="/vulnerabilities" class="{{ if eq $.BaseData.CurrentPath "/vulnerabilities" }}active{{ end }}">Vulnerability Management</a>

                    <a href="/reporting" class="{{ if eq $.BaseData.CurrentPath "/reporting" }}active{{ end }}">Reporting</a>
                    
                    <a href="/settings" class="{{ if eq $.BaseData.CurrentPath "/settings" }}active{{ end }}">Settings</a>
                </nav>
            </aside>

            <main class="main-content">
                <header class="top-nav">
                    <div class="user-menu">
                        <button style="text-transform: capitalize;" class="user-btn">{{ .BaseData.Username }}</button>
                        <div class="dropdown-content">
                            <a onclick="openUserModal('{{ .BaseData.Username }}')">Profile</a>
                            <form action="/logout" method="POST">
                                <button type="submit">Logout</button>
                            </form>
                        </div>
                    </div>
                </header>

                <section class="content-area">
                    {{ template "content" . }}
                </section>
            </main>
        </div>

        <div id="userModal" class="modal-overlay" style="display: none;">
            <div class="custom-modal">
                <div class="modal-header">
                    <h3>Update User Information</h3>
                    <button type="button" class="close-btn" onclick="closeUserModal()">&times;</button>
                </div>

                <form id="updateUserForm" onsubmit="handleUserUpdate(event, '{{.BaseData.Username}}')">
                    <input type="hidden" id="modal-user-id" value="">
                    
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit-username">Username</label>
                            <input class="form-input" type="text" id="edit-username" autocomplete="off" value="{{ .BaseData.Username }}" required>
                        </div>

                        <div class="form-group">
                            <label for="edit-email">Email Address</label>
                            <input class="form-input" type="email" id="edit-email" value="" required>
                        </div>

                        <div class="form-group">
                            <label for="edit-password">New Password</label>
                            <input class="form-input" type="password" id="edit-password" autocomplete="new-password" placeholder="Leave blank to keep current">
                        </div>

                        <div class="time-footer" style="justify-content: right;">
                            <span>Last Updated: &nbsp;&nbsp;</span>
                            <strong id="modal-user-updated-on"></strong>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn-warning" onclick="closeUserModal()">Cancel</button>
                        <button type="submit" class="btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="/public/js/base.js"></script>
    </body>
</html>

{{ end }}